@import "fonts";
@import "base";

.header {
  padding: 60px 0 51px;
  background-color: #0A0C15;
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-content__btn {
      display: flex;
      align-items: center;
      .header-content__btn-caption {
        margin-right: 22px;
        font-size: 14px;
        color: #F2F2F2;
      }
      .header-content__btn-icon {
        width: 27px;
        height: 21px;
        background-image: url("images/icons/icon-menu.svg");
        background-size: cover;
      }
    }
  }
}

.banner {
  background-color: #0A0C15;
  .banner-content {
    display: flex;
    flex-direction: column;
    .banner-content__slider {
      position: relative;
      align-self: center;
      .banner-content__slider-points {
        position: absolute;
        top: calc(50% - 37.5px);
        right: -27px;
        display: grid;
        gap: 24px;
        .banner-content__slider-points-item {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: #FFFFFF;
        }
        .active-item {
          background-color: #FFEB9F;
        }
      }
    }
    .banner-content__title {
      position: relative;
      top: -64px;
      max-width: 534px;
      width: 100%;
      font-weight: 600;
      font-size: 64px;
      line-height: 100%;
      span {
        font-weight: 600;
        font-size: 64px;
        color: #FFEB9F;
      }
    }
    .banner-content__scroll-icon {
      margin: 22px auto 38px;
      width: 26px;
      height: 14px;
      background-image: url("images/icons/arrow-bottom.svg");
      background-size: cover;
    }
  }
}
